<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" colspan="2">Nombre</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td colspan="2">Balones</td>
      <td>
        <a>Editar</a> &nbsp;
        <a>Quitar</a>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td colspan="2"> Insumos</td>
      <td>
        <a>Editar</a> &nbsp;
        <a>Quitar</a>
      </td>
    </tr>
  </tbody>
</table>