<h1 class="h1">Inventario de productos</h1>
<table class="table table-hover">
  <thead class="thead-light">
    <tr class="table-light">
      <th scope="col">
        #
      </th>
      <th scope="col">
        Nombre
      </th>
      <th scope="col">
        Cantidad total
      </th>
      <th scope="col">
        Cantidad disponible
      </th>
      <th scope="col">
        Cantidad prestados
      </th>
      <th scope="col">
        Acciones
      </th>
    </tr>
  </thead>
  <tbody >
    <!--
      Se utiliza la directiva ngFor para recorrer la lista de productos que llegan 
      desde la base de datos
    -->
    <tr *ngFor="let Producto of Productos" class="table-light">
      <th scope="row">
        {{Producto.ID}}
      </th>
      <td>
        {{Producto.NAME}}
      </td>
      <td>
        {{Producto.STOCK}}
      </td>
      <td>
        {{Producto.AVAILABLE}}
      </td>
      <td>
        {{Producto.BORROWED}}
      </td>
      <td>
        <a>
          <i class="fas fa-edit" (click)="EditarProducto(Producto.ID)"></i>
        </a> 
        &nbsp;
        <a>
          <i class="fas fa-trash-alt" (click)="confirmDialog(Producto.ID)"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<div class="alert alert-success" role="alert" *ngIf="eliminado">Producto eliminado</div>
<div class="alert alert-success" role="alert" *ngIf="error">Ocurrio un error al eliminar</div>

