/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Myriad;
    src: url(assets/fonts/MYRIAD-REGULAR/MYRIAD-REGULAR/MyriadPro-Regular.otf)
}

* {
    max-width: 100%;
}

body {
    background-color: #00263e;
    display: block;
    position: relative;
    font-family: 'Myriad';
    font-size: 16px;
}

html {
    min-height: 100%;
}

.h1 {
    text-align: center;
    color: white;
}

