<form [formGroup]="BuscarPrestamoForm" (ngSubmit)="BuscarPrestamo()" id="AgregarDevolucionForm">
    <div class="form-group">
        <label for="prestamo">
            Rut o codigo del pedido:
        </label>
        <input type="text" class="form-control" id="prestamo" formControlName="prestamo" placeholder="Rut o codigo del pedido" autofocus required>
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
    <br>
    <div class="alert alert-success" role="alert" *ngIf="agregado">Prestamo devuelto exitosamente</div>
    <div class="alert alert-success" role="alert" *ngIf="error">Ocurrio un error</div>
</form>
<br>

<table class="table table-hover" id="AgregarDevolucionForm">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Fecha Pedido</th>
        <th scope="col">Dias de prestamo</th>
        <th scope="col">Descripción</th>
        <th scope="col">Cantidad de productos</th>
        <th scope="col">Deuda</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Prestamo of Prestamos">
        <th scope="row">{{Prestamo.ID}}</th>
        <td>{{Prestamo.DATE_BEGIN}}</td>
        <td>{{Prestamo.DAYS}}</td>
        <td>{{Prestamo.DESCRIPTION}}</td>
        <td>{{Prestamo.PRODUCTS}}</td>
        <td>{{Prestamo.DEBT}}</td>
        <td><button type="button" class="btn btn-success" (click)="ConfirmDialog(Prestamo.ID)">Devolver</button></td>
      </tr>
      <tr *ngIf="Prestamos.length == 0">
          <td colspan="6">
              No se encontraron pedidos
          </td>
      </tr>
    </tbody>
</table>