<h1 class="h1">Agregar producto</h1>
<form [formGroup]="ProductoForm" (ngSubmit)="confirmDialog()" class="row">
  <div class="col-sm-3"></div>
  <div id="AgregarProductoForm" class="form-group panel panel-default col-sm-6">
    <div class="panel-body">
      <label for="nombre">
        Nombre:
      </label>
      <input type="text" formControlName="nombre" class="form-control" id="nombre">
      <label for="descripcion">
        Descripción:
      </label>
      <input type="text" formControlName="descripcion" class="form-control" id="descripcion">
      <label for="categoria">
        Categoría:
      </label>
      <input type="text" formControlName="categoria" class="form-control" id="categoria">
      <label for="cantidad">
        Cantidad:
      </label>
      <input type="number" formControlName="total" class="form-control" id="cantidad">
      <br>
      <div class="alert alert-success" role="alert" *ngIf="agregado">Producto Agregado</div>
      <div class="alert alert-success" role="alert" *ngIf="error">Ocurrio un error</div>
      <input type="submit" class="btn btn-warning" value="Guardar">
    </div>
  </div>
  <div class="col-sm-3"></div>
</form>

<!-- <button mat-raised-button color="primary" (click)="confirmDialog()">Confirm</button> -->
<br>