<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Cantidad total</th>
      <th scope="col">Cantidad disponible</th>
      <th scope="col">Cantidad prestados</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Balon Futbol</td>
      <td>10</td>
      <td>7</td>
      <td>3</td>
      <td>
        <a>Editar</a> &nbsp;
        <a>Quitar</a>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Balon Basketbol</td>
      <td>8</td>
      <td>7</td>
      <td>1</td>
      <td>
        <a>Editar</a> &nbsp;
        <a>Quitar</a>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Raqueta ping-pong</td>
      <td>20</td>
      <td>12</td>
      <td>8</td>
      <td>
        <a>Editar</a> &nbsp;
        <a>Quitar</a>
      </td>
    </tr>
  </tbody>
</table>