<div class="left-menu">
  <ul>
    <a href="#"><li>Ingresar</li></a>
    <a href="#"><li>Movimientos</li></a>
  </ul>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Cantidad total</th>
      <th scope="col">Cantidad disponible</th>
      <th scope="col">Cantidad prestados</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <!--Se utiliza la directiva ngFor para recorrer la lista de productos que llegan desde la base de datos-->
    <tr *ngFor="let Producto of Productos">
      <th scope="row">{{Producto.id}}</th>
      <td>{{Producto.nombre}}</td>
      <td>{{Producto.total}}</td>
      <td>{{Producto.disponible}}</td>
      <td>{{Producto.prestado}}</td>
      <td>
          <a><i class="fas fa-edit"></i></a> &nbsp;
          <a><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
  </tbody>
</table>