table
{
    width: 78%;
    float: right;
}

.left-menu
{
    width: 20%;
    float: left;
}

.left-menu a 
{
    text-decoration: none;
}

.left-menu li
{
    list-style: none;
    text-align: center;
    padding: 10px 0px 10px 0px;
    background-color: #E2E2E2; 
    color: black;
}

.left-menu li:hover
{
    background-color: #CFCFCF;
}

#VerProductoForm {
    background-color: #F2F2F2;
    color: #0F264A;
    padding: 20px;
}
