<nav class="navbar navbar-expand-md navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse_target" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    Menu
  </button>
  <div class='collapse navbar-collapse' id='collapse_target'>
    <ul class='navbar-nav mr-auto'>
        <li class='nav-item dropdown'>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Productos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/VerProducto">Ver Productos</a>
          </div>
        </li>
        <li class='nav-item dropdown'>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Movimientos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/IngresarPrestamo">Ingresar Prestamo</a>
            <a class="dropdown-item" routerLink="/IngresarDevolucion">Ingresar Devolucion</a>
            <a class="dropdown-item" routerLink="/VerPrestamo">Ver prestamos</a>
          </div>
        </li>
       
      </ul>
  </div>
  <!--Se utiliza la directiva ngIf para saber si el usuario esta logeado o no-->
  <!--NombreUsuario: Variable que posee el nombre del usuario, si esta es undefined significa que el usuario no esta logeado-->
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id='collapse_target' *ngIf='NombreUsuario==undefined; else elseBlock'>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="/Login">Iniciar sesion</a>
          </li>
      </ul>
  </div>
  <ng-template #elseBlock>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id='collapse_target'>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  Bienvenido {{NombreUsuario}}
              </li>
          </ul>
      </div>
  </ng-template>
</nav>