<h1 class="h1">Sacar stock a un producto</h1>
<form [formGroup]="SacarStockForm" (ngSubmit)="SacarProducto()" class="row">
  <div class="col-sm-3"></div>  
  <div id="SacarStockForm" class='form-group col-sm-6'>
    <label for="producto">
      Producto:
    </label>
    <select name="producto" id="producto" class="form-control" formControlName="producto" (change)="ProductChanged($event.target.value)">  
        <!--
            Se utiliza una directiva de angular (ngFor) para cargar los productos en un 
            select y de esta manera para que el usuario los pueda ingresar
        -->
        <option *ngFor="let Producto of Productos" value={{Producto.ID}}>
          {{Producto.NAME}}
        </option>
    </select>
    <label for="cantidad">
      Cantidad:
    </label>
    <input type="number"  class="form-control" name="cantidad" id="cantidad" formControlName="cantidad" max={{SacarStockForm.controls.cantidad.value}} placeholder="Ingrese la nueva cantidad de stock del producto">
    <br>
    <input type="submit" class="btn btn-warning" value="Guardar"> 
  </div>
  <div class="col-sm-3"></div>
</form>