<header class="header">
    <!--Directiva de angular que permite renderear solo la pagina de navegacion(nav)-->
    <app-nav></app-nav>
</header>
<div *ngIf="user.type == 3">
    <app-alertas></app-alertas>
</div>
<main class="main">
    <!--
        Directiva de angular que permite renderear solo el contenido de la pagina, ya sea,
        todas las demas paginas
    -->
    <router-outlet></router-outlet>
</main>
<footer class="page-footer font-small cyan darken-3 footer">
    <div  class="container">
        <div class="row">
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">
                    <a class="fb-ic" href="https://www.facebook.com/DuocUC/">
                        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <a class="tw-ic" href="https://twitter.com/duocuc">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <a class="gplus-ic" href="https://www.youtube.com/c/DuocUC_CL">
                        <i class="fab fa-youtube fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <a class="li-ic"  href="https://www.linkedin.com/school/duoc-uc/">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <a class="ins-ic" href="https://www.instagram.com/duocuc_cl/">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>