<header class="header">
    <!--Directiva de angular que permite renderear solo la pagina de navegacion(nav)-->
    <app-nav></app-nav>
</header>
<main class="container main">
    <!--
        Directiva de angular que permite renderear solo el contenido de la pagina, ya sea,
        todas las demas paginas
    -->
    <router-outlet></router-outlet>
</main>
<footer class="footer">
    <!--Redes sociales de la pagina (Pertenecientes a www.duoc.cl)-->
    <table class="RedesSociales">
        <tr>
            <td>
                <a href="https://twitter.com/duocuc">
                    <i class="fab fa-twitter-square"></i>
                </a>
            </td>
            <td>
                <a href="https://www.facebook.com/DuocUC/">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </td>
            <td>
                <a href="https://www.instagram.com/duocuc_cl/">
                    <i class="fab fa-instagram"></i>
                </a>
            </td>
            <td>
                <a href="https://www.youtube.com/c/DuocUC_CL">
                    <i class="fab fa-youtube-square"></i>
                </a>
            </td>
            <td>
                <a href="https://www.linkedin.com/school/duoc-uc/">
                    <i class="fab fa-linkedin"></i>
                </a>
            </td>
        </tr>
    </table>
</footer>