<form [formGroup]="ProductoForm" (ngSubmit)="AgregarProducto()" class="row">
  <div class="col-sm-3"></div>
  <div id="AgregarProductoForm" class="form-group panel panel-default col-sm-6">
    <div class="panel-body">
      <label for="nombre">
        Nombre:
      </label>
      <input type="text" formControlName="nombre" class="form-control" id="nombre">
      <label for="descripcion">
        Descripción:
      </label>
      <input type="text" formControlName="descripcion" class="form-control" id="descripcion">
      <label for="categoria">
        Categoría:
      </label>
      <input type="text" formControlName="categoria" class="form-control" id="categoria">
      <label for="cantidad">
        Cantidad:
      </label>
      <input type="number" formControlName="total" class="form-control" id="cantidad">
      <br>
      <input type="submit" class="btn btn-warning" value="Guardar">
    </div>
  </div>
  <div class="col-sm-3"></div>
</form>
