<form>
  <div class="form-group col-sm-6">
    <label for="Nombre">Nombre:</label>
    <input type="text" class="form-control" id="Nombre">
    <label for="Descripcion">Descripción:</label>
    <input type="text" class="form-control" id="Descripcion">
    <label for="Categoria">Categoría:</label>
    <input type="text" class="form-control" id="Categoria">
    <label for="Cantidad">Cantidad:</label>
    <input type="number" class="form-control" id="Cantidad">
    <br/>
    <input type="submit" class="btn btn-primary" value="Guardar">
  </div>
</form>
