<div class="perfil-container">
  <h1 id="font-color" class="text-center">Datos del alumno</h1>
  <hr>
  <div class="row">
    <div class="foto-perfil-container col-sm-4">
      <img src="./assets/img/userPhoto.svg" alt="Imagen de perfil" class="mx-auto d-block foto-perfil">
    </div>
    <div class="informacion-personal-container col-sm-8">
      <p><b>Rut alumno:</b> {{user.rut}}</p>
      <p><b>Nombre alumno:</b> {{user.nombre}}</p>
      <p><b>Nombre de usuario:</b> {{user.nombreUsuario}}</p>
      <p><b>Correo del alumno:</b> {{user.correo}}</p>
      <p><b>Carrera del alumno:</b> {{user.carrera}}</p>
      <p><b>Telefono de contacto:</b> {{user.telefono}}</p>
      <p><b>Direccion del alumno:</b> {{user.direccion}}</p>
    </div>
  </div>
  <div class="row">  
    <div class="pedidos-personal-container col-sm-12">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th id="color-font" scope="col">Codigo pedido</th>
            <th id="color-font" scope="col">Descripción</th>
            <th id="color-font" scope="col">Fecha de prestamo</th>
            <th id="color-font" scope="col">Cantidad dias prestamo</th>
            <th id="color-font" scope="col">Cantidad de productos prestados</th>
            <th id="color-font" scope="col">Deuda</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Prestamo of Prestamos">
            <th scope="row">{{Prestamo.ID}}</th>
            <td>{{Prestamo.DESCRIPTION}}</td>
            <td>{{Prestamo.DATE_BEGIN}}</td>
            <td>{{Prestamo.DAYS}}</td>
            <td>{{Prestamo.PRODUCTS}}</td>
            <td>{{Prestamo.DEBT}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
