.perfil-container {
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
}

.foto-perfil-container {
    width: 20%;
}

.informacion-personal-container {
    width: 80%;
}

.pedidos-personal-container {
    width: 100%;
}

#color-font{
    color:#1c2331;
}
