<h1 class="h1">Prestamo</h1>
<form [formGroup]="PrestamoForm" (ngSubmit)="AgregarPrestamo()">
    <div class="form-group col-sm-6">
        <label for="rut">
            Rut:
        </label>
        <input type="text" id="rut" class="form-control" required formControlName="rut" >
        <label for="producto">
            Producto:
        </label>
        <select name="producto" id="producto" class="form-control" formControlName="producto">
            <!--
                Se utiliza una directiva de angular (ngFor) para cargar los productos en un 
                select y de esta manera para que el usuario los pueda ingresar
            -->
            <option *ngFor="let producto of Productos" value={{producto.id}}>
                {{producto.nombre}}
            </option>
        </select>
        <br/>
        <input type="submit" class="btn btn-primary" value="Guardar">
    </div>
</form>